---
- name: Install pipewire-jack (replaces jack)
  command: pacman -S --noconfirm --needed pipewire-jack
  register: pipewire_jack_install
  changed_when: >
    pipewire_jack_install.rc == 0 and
    'there is nothing to do' not in (pipewire_jack_install.stdout | default('') | lower)
  become: yes

- name: Ensure GUI apps are installed
  pacman:
    name:
      - android-tools
      - cachyos-gaming-meta
      - chromium
      - code
      - darktable
      - eog
      - fcitx5
      - fcitx5-configtool
      - fcitx5-gtk
      - fcitx5-mozc
      - fcitx5-qt
      - file-roller
      - freecad
      - gimp
      - hyprshot
      - inkscape
      - kitty
      - mixxx
      - obs-studio
      - obsidian
      - openscad
      - pcmanfm
      - picard
      - prusa-slicer
      - pulseview
      - scrcpy
      - virt-manager
      - vlc
      - wofi
      - yt-dlp
      - yakuake
    state: present
  become: yes
 
