---
- name: Update package cache
  pacman:
    update_cache: yes
  become: yes

- name: Ensure required packages are installed
  pacman:
    name:
      - git
      - base-devel
      - go
      - python-requests
      - python-packaging
      - python-docker
      - flatpak
      - realtime-privileges
      - tailscale
      - snapper
      - bluetui
    state: present
    update_cache: yes
  become: yes

- name: Change Default Shell to Zsh
  user:
    name: "{{ ansible_user }}"
    shell: /usr/bin/zsh
  become: true

- name: Ensure host and distrobox users are in uucp group
  user:
    name: "{{ item }}"
    groups: uucp
    append: yes
  loop: "{{ [ansible_user, distrobox_user]|unique }}"
  become: yes
